#intro {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10rem;
    margin-top: 10rem;
    /* padding-top: 10rem;
    padding-left: 10rem; */
    min-height: 100vh;
    color: rgb(231, 231, 231);
}

.intro-name {
    font-family: "RobotoMono", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(232, 114, 35);
    transition: font-size 0.4s;
}

.intro-name:hover {
    /* background-color: rgba(172, 83, 24, 0.1); */
    font-size: 4.5rem;
}

.intro-description {
    font-family: "RobotoMono", sans-serif;
    font-size: 1rem;
    font-style: italic;
    max-width: 40%;
    text-align: justify;
    transition: font-size 0.4s, max-width 0.4s;
}

.intro-description:hover {
    /* background-color: rgba(172, 83, 24, 0.1); */
    font-size: 1.02rem;
    max-width: 45%;
}

.intro-socials {
    padding-top: 1rem;
}

@keyframes grow {
    0% {
        font-size: 2rem;
    }
    
    50% {
        font-size: 2.1rem;
    }

    100% {
        font-size: 2.5rem;
    }
}


@media only screen and (max-width: 600px) {
    #intro {
        margin-top: 30%;
        margin-left: auto;
        padding-left: unset;
        align-items: center;
    }

    .intro-name {
        font-size: 3rem;
    }

    .intro-description {
        font-size: 1rem;
        text-align: center;
        max-width: 70%;
    }
}
