@font-face {
    font-family: "Akira";
    src: url("../../public/fonts/Akira.otf") format("opentype");
    color: whitesmoke;
}
  
#intro {
    max-width: 40%;
    /* border: white solid 1px; */
    margin-top: 10rem;
    margin-left: 10rem;
    color: rgb(231, 231, 231);
}

.intro-name {
    font-family: "Akira", sans-serif;
    font-size: 4.5rem;
    color: rgb(232, 114, 35);
}

.intro-description {
    font-family: "RobotoMono", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    /* max-width: 40%; */
}

@media only screen and (max-width: 600px) {
    #intro {
        max-width: 80%;
        margin: auto;
        align-items: center;
    }

    .fade {
        opacity: 1;
        transform: none;
        animation: unset;
    }

    .intro-name {
        font-size: 3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .intro-description {
        font-size: 1rem;
        text-align: center;
        margin: unset;
    }
}
