#socials {
    /* border: white solid 1px; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 9rem;
    position: absolute;
    align-items: center;
    color: whitesmoke;
}

.email {
    writing-mode: vertical-rl;
    padding: 0;
    text-decoration: none;
}

.email:link {
    color:inherit
}

.a {
    display: none;
}

@media only screen and (max-width: 600px) {
    #socials {
        /* border: white solid 1px; */
        width: 100%;
        padding: unset;
        margin-top: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    ul {
        margin: 1rem;
        padding: unset;
    }

    .email {
        position: relative;
        writing-mode: unset;
    }

    .a {
        display: flex;
    }
    
    .b {
        display: none;
    }
}