@font-face {
  font-family: "Roboto-Mono";
  src: url("../public/fonts/RobotoMono-Regular.ttf") format("truetype");
  color: whitesmoke;
}

html {
  /* scroll-behavior: smooth; */
  overflow: hidden;
}

/* Animation */

.App {
  display: flex;
  flex-direction: column;
}

#content {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    /* padding: 40px 24px; */
  }

  #content {
    width: 100%;
  }

}